#hero {
    background: linear-gradient(45deg, #222629cc, #222629cc), url(img/6.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 2rem;
    h2 {
        font-size: 4rem;
        line-height: 1.2;
    }
    p{
        font-size: 2rem;
    }
    .designation{
        margin-bottom: 10%;
    }
    a{
        font-size: 1.5rem;
    }
    p.heroTagline {
        padding-bottom: 2rem;
    }
    .heroSecond {
        display: grid;
        justify-content: end;
        text-align: right;
        transform: translate(0px, 100%);
    }
}