div#contactSections {
    padding: 0 !important;
  .contactSection {
    background: var(--custGreen);
    height: 100vh;
    display: grid;
    place-content: center;
    .title {
      -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      background-image: linear-gradient(var(--custDark), var(--custDark));
      background-size: 0% 100%;
    }
  }
}


@media screen and (max-width: 576px) {
  .contactSection .title {
    background-size: 100% 100% !important;
    text-align: center;
  }
}